*{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  color: #000000;
}

.hero{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.navbar{
  color: #000000;
  min-width: 181px;
  position: relative;
  top: 0px;
  right: 0px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  z-index: 987;
  float: right;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 13px;
  order: 1;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;
  user-select: none;
  white-space: nowrap;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}
.gi{
  display: flex;
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 15px;
  text-align: right;
  user-select: none;
  line-height: normal;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
}
.gmim{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: normal;
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}
.ic{
  padding-left: 15px;
}
.gmaima{
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  line-height: 24px;
  outline-color: #000000;
  outline-style: none;
  outline-width: 0px;
  text-align: right;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}
.mp{
  color: #000000;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 13px;
  line-height: normal;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 75px;
  position: relative;
  text-align: left;
  user-select: none;
  white-space: nowrap;
}
.m{
  color: #000000;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 13px;
  line-height: normal;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.me{
  color: #000000;
  display: block;
  line-height: normal;
  text-align: left;
  user-select: none;
  white-space: nowrap;
  position: relative;
}
.men{
  background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
  background-position-x: -132px;
  background-position-y: -38px;
  background-size: 528px 68px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  width: 30px;
  line-height: normal;
  opacity: 0.55;
  outline-color: #000000;
  outline-style: none;
  outline-width: 0px;
  text-align: left;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}
.p{
  color: #000000;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 13px;
  line-height: normal;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 15px;
  padding-top: 0px;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.pi{
  color: #000000;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 13px;
  line-height: normal;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.pic{
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 13px;
  height: 30px;
  width: 30px;
  line-height: normal;
  margin-left: 0px;
  margin-right: 0px;
  outline-color: #000000;
  outline-style: none;
  outline-width: 0px;
  text-align: left;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}
.content{
  color: #000000;
  display: block;
  font-size: 13px;
  padding-bottom: 35px;
}


/*middle*/
.searchform{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  width: 100%;
  position: absolute;
  top: 269px;
  min-width: 300px;
  transition: top 0.4s ease,transform 0.4s ease;
  margin-top: 0;
}
.sf{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  background: none;
  width: auto;
  margin: 0 32px;
  max-width: none;
  overflow: visible;
}
.sefo{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
}
.seafor{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}
.form{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: auto;
}
.sform{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.search{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.si{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  margin: auto;
}
.sicon{
  font-family: arial,sans-serif;
  font-size: small;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}
.seco{
  font-family: arial,sans-serif;
  font-size: small;
  fill: currentColor;
  line-height: 24px;
  color: #9aa0a6;
  display: block;
  height: 100%;
  width: 100%;
}
.icon{
  font-family: arial,sans-serif;
  font-size: small;
  fill: currentColor;
  line-height: 24px;
  color: #9aa0a6;
  d: path("M 15.5 14 h -0.79 l -0.28 -0.27 A 6.471 6.471 0 0 0 16 9.5 A 6.5 6.5 0 1 0 9.5 16 c 1.61 0 3.09 -0.59 4.23 -1.57 l 0.27 0.28 v 0.79 l 5 4.99 L 20.49 19 l -4.99 -5 Z m -6 0 C 7.01 14 5 11.99 5 9.5 S 7.01 5 9.5 5 S 14 7.01 14 9.5 S 11.99 14 9.5 14 Z");
}
.input{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.inp{
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 34px !important;
  color: transparent;
  flex: 100%;
  white-space: pre;
}
.inpu{
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 34px !important;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  font-size: 16px;
}
.speak{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.spmi{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
.mic{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  cursor: pointer;
  line-height: 44px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.googlelucky{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  padding-top: 18px;
  top: 53px;
  z-index: 0;
  height: 70px;
}
.gs{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.ifl{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}



/*content*/
.content{
  color: #000000;
  display: block;
  font-size: 13px;
  padding-bottom: 35px;
}
.bod{
  color: #000000;
  display: block;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 300px;
  width: 1OO%;
}
center{
  color: #000000;
  display: block;
  font-size: 13px;
  text-align: -webkit-center;
}
.log{
  color: #000000;
  display: block;
  font-size: 13px;
  height: 233px;
  margin-top: 47px;
  text-align: -webkit-center;
  transition-delay: 0s, 0s;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease, ease;
}
#logo{
  color: #000000;
  font-size: 13px;
  height: 92px;
  padding-top: 109px;
  text-align: -webkit-center;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.4s, 0.4s, 0.4s;
  transition-property: padding-top, width, height;
  transition-timing-function: ease, ease, ease;
  width: 272px;
}
.lan{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  margin-bottom: 24px;
}
.languages{
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
  display: inline-block;
  line-height: 28px;
}
.l{
  font-size: small;
  line-height: 28px;
  font-family: arial,sans-serif;
  text-decoration: none;
  color: #1a0dab;
  padding: 0 3px;
}


/*footer*/
.footer{
  font-family: arial,sans-serif;
  color: #222;
  margin: 0 auto;
  min-width: 300px;
  bottom: 0;
  font-size: 10pt;
  height: 105px;
  width: 100%;
  display: block;
}
.foot{
  font-family: arial,sans-serif;
  color: #222;
  font-size: 10pt;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 300px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.fbar{
  font-family: arial,sans-serif;
  color: #222;
  line-height: 40px;
  margin-left: -27px;
  font-size: 14px;
}
.foottop{
  font-family: arial,sans-serif;
  color: #222;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #e4e4e4;
}
.foo{
  font-family: arial,sans-serif;
  line-height: 40px;
  font-size: 14px;
  color: rgba(0,0,0,.54);
  padding-left: 27px;
  margin-left: 30px;
  text-align: left;
}
.nija{
  font-family: arial,sans-serif;
  line-height: 40px;
  color: rgba(0,0,0,.54);
  text-align: left;
  font-size: 15px;
}
.pts{
  font-family: arial,sans-serif;
  color: #222;
  line-height: 40px;
  font-size: 14px;
  float: right;
  margin-right: 30px;
}
.abah{
  font-family: arial,sans-serif;
  color: #222;
  line-height: 40px;
  font-size: 14px;
  margin-left: 30px;
  float: left;
}
.fo{
  line-height: 40px;
  font-size: 14px;
  font-family: arial,sans-serif;
  padding-left: 27px;
  margin: 0 !important;
  text-decoration: none;
  white-space: nowrap;
  color: #5f6368;
  display: inline-block;
}



/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){
  .bod{
    font-size: 13px;
    width: 100vw;
  }
  .searchform{
    font-size: small;
    width: 100vw;
  }
  .navbar{
    padding-left: 30px;
    padding-right: 20px;
    font-size: 13px;
    z-index: 950;
  }
}



/********** small devices only **********/
@media (min-width: 550px) and (max-width: 767px){
  #logo{
    color: #000000;
    font-size: 13px;
    height: 85px;
    padding-top: 109px;
    text-align: -webkit-center;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-property: padding-top, width, height;
    transition-timing-function: ease, ease, ease;
    width: 250px;
  }
  .seafor{
    padding: 0;
    padding-top: 0px;
  }
  .nija{
    font-size: 10px;
    padding-left: 10px;
  }
  .fo{
    font-size: 10px;
    padding-left: 7px;
  }
  .foo{
    margin-left: 0px;
  }
  .pts{
    margin-right: 9px;
  }
  .navbar{
    padding-left: 30px;
    padding-right: 10px;
    font-size: 10px;
    justify-content: space-evenly;
  }
  .gmaima{
    font-size: 10px;
  }
  .gi{
    padding-right: 0px;
  }
}




@media (max-width: 549px){
  #logo{
    color: #000000;
    font-size: 13px;
    height: 85px;
    padding-top: 109px;
    text-align: -webkit-center;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-property: padding-top, width, height;
    transition-timing-function: ease, ease, ease;
    width: 230px;
  }
  .seafor{
    padding: 0;
    padding-top: 0px;
  }
  .nija{
    font-size: 8px;
    padding-left: 10px;
  }
  .fo{
    font-size: 8px;
    padding-left: 7px;
  }
  .foo{
    margin-left: 0px;
  }
  .pts{
    margin-right: 9px;
  }
  .navbar{
    padding-left: 30px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
  .gmaima{
    font-size: 8px;
  }
  .gi{
    padding-right: 0px;
  }
}
